# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/

# Poetry (config local)
poetry.toml

# IDEs
.idea/
.vscode/

# Logs e arquivos temporários
*.log
*.tmp

# Arquivos de sistema
.DS_Store
Thumbs.db
